// Main colors
$main-color: #28A745;
$main-light-color: #72BF44;
$black-color: #000000;
$gray-color-1: #263238;
$gray-color-2: #4D4D4D;
$gray-color-3: #eaeaea;
$gray-color-4: #F5F5F5;
$gray-color-5: #252631;
$gray-color-6: #808080;
$gray-color-7: #262626;
$gray-color-8 :#231F20;
$white-color: #FFFFFF;
$danger-color: #94191C;
$blue-color: #007BFB;
$warning-color: #F4EF78;

// Screens sizes
$maxSmallMobile: "(max-width: 576px)";
$maxMiniMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMaxSmall: "(min-width: 768px) and (max-width: 991px)";
$maxSmall: "(max-width: 991px)";
$minMidium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";