.detailed-page-shared {
    .comunication-info {
        border-radius: 15px;
        padding: 22px;
        margin-bottom: 25px;
        > h3 {
            font: {
                size: 21px;
                weight: normal;
            }
            margin-bottom: 32px;
        }
        .building-owner {
            display: flex;
            align-items: center;
            margin-bottom: 31px;
            .owner-img {
                background-color: $white-color;
                border-radius: 10px;
                width: 53px;
                height: 53px;
                overflow: hidden;
                margin-left: 10px;
                img {
                    border-radius: 10px;
                    width: 53px;
                    height: 53px;
                }
            }
            .owner-info {
                h4 {
                    a {
                        font: {
                            size: 15px;
                            weight: normal;
                        }
                        color: $black-color;
                    }
                    margin-bottom: 0;
                }
                span {
                    font: {
                        size: 14px;
                        weight: 300;
                    }
                    color: $gray-color-6;
                }
            }
        }
        .actions-for-building {
            .sale-building {
                a {
                    width: 100%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: 40px;
                    margin-bottom: 30px;
                    background-image: linear-gradient(to right, #25A84C, #72BF44);
                    font: {
                        size: 19px;
                        weight: 300;
                    }
                }
            }
            .contact-with-owner {
                display: flex;
                align-items: center;
                a {
                    width: 136px;
                    &.conversation {
                        background-color: $blue-color;
                    }
                    &.call {
                        margin-right: auto;
                        display: inline-flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
    .share-building {
        border-radius: 15px;
        padding: 32px;
        margin-bottom: 25px;
        > h4 {
            font: {
                size: 21px;
                weight: normal;
            }
            margin-bottom: 34px;
        }
        .social-links {
            a {
                &:not(:last-child) {
                    margin-left: 19px;
                }
                img {
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    @media ($mobile) {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
    .report-link {
        border-radius: 15px;
        margin-bottom: 25px;
        background-color: $warning-color;
        a {
            width: 100%;
            height: 100%;
            padding: 27px;
            display: inline-block;
            color: $black-color;
            @media ($mobile) {
                padding: 20px;
            }
            img {   
                width: 34px;
                height: 34px;
                margin-left: 7px;
                @media ($mobile) {
                    width: 24px;
                    height: 24px;
                    margin-left: 0;
                }
            }
            span {
                font: {
                    size: 21px;
                    weight: normal;
                }
                @media ($mobile) {
                    font-size: 18px;
                }
            }
        }
    }
    .booking-information {
        padding: 32px 22px;
        border-radius: 15px;
        margin-bottom: 25px;
        > h4 {
            font: {
                size: 21px;
                weight: normal;
            }
            margin-bottom: 21px;
        }
        .arrival-and-leave-time-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            .cal-icon {
                margin-left: 13px;
                img {
                    width: 31.5px;
                    height: 31.5px;
                    object-fit: cover;
                }
            }
            .time-info {
                margin-bottom: 15px;
                h5 {
                    font: {
                        size: 21px;
                        weight: normal;
                    }
                    margin-bottom: 10px;
                    @media ($mobile) {
                        font-size: 18px;
                        margin-bottom: 4px;
                    }
                }
                span {
                    font: {
                        size: 18px;
                        weight: normal;
                    }
                    @media ($mobile) {
                        font-size: 13px;
                    }
                }
            }
        }
        .booking-actions {
            margin-top: 17px;
            display: flex;
            a {
                display: inline-flex;
                justify-content: center;
                font: {
                    size: 20px;
                    weight: 300;
                }
                @media ($mobile) {
                    font-size: 18px;
                }
                &.verified-booking {
                    width: 175px;
                }
                &.edit-booking {
                    margin-right: auto;
                    width: 99px;
                    background-color: $main-light-color;
                }
            }
        }
    }
    .rooms-filter {
        border-radius: 15px;
        padding: 25px 20px;
        position: relative;
        margin-bottom: 25px;
        @media ($mobile) {
            height: 65px;
            overflow: hidden;
            &.div-opend {
                height: auto;
            }
        }
        > h4 {  
            font: {
                size: 19px;
                weight: normal;
            }
            padding-bottom: 19.5px;
            border-bottom: 1px solid #CCCCCC;
            margin-bottom: 35px;
            @extend .trans-effect;
            @media ($mobile) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:after {
                    content: "";
                    display: inline-flex;
                    background: url('../images/Global/add.png') no-repeat center center;
                    background-size: cover;
                    width: 15px;
                    height: 15px;
                }
                &.div-opend {
                    &:after {
                        background: url('../images/Global/minus.png') no-repeat center center;
                        background-size: contain;
                    }
                }
            }
        }   
        .clear-form {
            position: absolute;
            top: 22px;
            left: 20px;
            background: none;
            border: none;
            cursor: pointer;
            font: {
                size: 16px;
                weight: 300
            }
            &:focus,
            &:active {
                outline: 0;
            }
            @media ($mobile) {
                display: none;
            }
        }
        .form-container {
            font: {
                size: 16px;
                weight: 300
            }
            display: block;
            padding-right: 0;
        }
        .checkmark {
            left: 0;
            right: auto;
            border: 1px solid $main-color;
            background-color: $white-color !important;
            width: 24px;
            height: 24px;
            border-radius: 6px;
            &:after {
                background: url('../images/Icons/check.svg') no-repeat center center;
                background-size: contain;
                width: 17px;
                height: 17px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .hotel-services-aside {
        border-radius: 15px;
        padding: 25px 20px;
        margin-bottom: 25px;
        @media ($mobile) {
            height: 65px;
            overflow: hidden;
            &.div-opend {
                height: auto;
            }
        }
        > h4 {
            font: {
                size: 19px;
                weight: normal;
            }
            padding-bottom: 19.5px;
            border-bottom: 1px solid #CCCCCC;
            margin-bottom: 35px;
            @extend .trans-effect;
            @media ($mobile) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:after {
                    content: "";
                    display: inline-flex;
                    background: url('../images/Global/add.png') no-repeat center center;
                    background-size: cover;
                    width: 15px;
                    height: 15px;
                }
                &.div-opend {
                    &:after {
                        background: url('../images/Global/minus.png') no-repeat center center;
                        background-size: contain;
                    }
                }
            }
        }
        ul {
            padding: 0;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                span {
                    font: {
                        size: 16px;
                        weight: normal
                    }
                }
                &:after {
                    content: "";
                    background: url('../images/Icons/check.svg') no-repeat center center;
                    background-size: contain;
                    width: 17px;
                    height: 17px;
                    display: inline-flex;
                }
            }
        }
    }

    //Right Side
    .right-side {
        .content-of-detailed-page {
            .section-title {
                font: {
                    size: 21px;
                    weight: 500
                }
                margin-bottom: 22px;
            }
            .general-vision {
                margin-bottom: 20px;
                .col-6 {
                    display: flex;
                    @media ($mobile) {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }
                }
                .item-detailes {
                    margin-bottom: 30px;
                    .num-and-icon {
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media ($mobile) {
                            margin-bottom: 3px;
                        }
                        span {
                            font: {
                                size: 28px;
                                weight: normal
                            }
                            margin-left: 12px;
                            @media ($mobile) {
                                font-size: 16px;
                            }
                        }
                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                            @media ($mobile) {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                    .item-label {
                        font: {
                            size: 18px;
                            weight: normal
                        }
                        margin-bottom: 0;
                        @media ($mobile) {
                            font-size: 12px;
                        }
                    }
                }
            }
            .price-detailes {
                margin-bottom: 27px;
                .price-box {
                    margin-bottom: 23px;
                    .currency-and-price {
                        margin-bottom: 10px;
                        @media ($mobile) {
                            margin-bottom: 2px;
                        }
                        .price {
                            font: {
                                size: 26px;
                                weight: normal
                            }
                            @media ($mobile) {
                                font-size: 16px;
                            }
                        }
                        .currency {
                            font: {
                                size: 22px;
                                weight: 300
                            }
                            @media ($mobile) {
                                font-size: 12px;
                            }
                        }
                    }
                    .rent-or-else {
                        font: {
                            size: 18px;
                            weight: normal
                        }
                        @media ($mobile) {
                            font-size: 12px;
                        }
                    }
                }
            }
            .extra-detailes-boxes {
                display: flex;
                flex-direction: row;
                margin-bottom: 50px;
                @media ($mobile) {
                    flex-wrap: wrap;
                }
                .extra-detailes-box {
                    padding-left: 30px;
                    margin-left: 30px;
                    position: relative;
                    @media ($mobile) {
                        flex: 0 0 calc(50% - 30px);
                        max-width: calc(50% - 30px);
                        &::after {
                            display: none;
                        }
                    }
                    &:not(:last-child) {
                        &:after {
                            content: "";
                            height: 70px;
                            width: 1px;
                            background-color: #BFC1C3;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    .main-label {
                        font: {
                            size: 26px;
                            weight: normal
                        }
                        margin-bottom: 11px;
                        @media ($mobile) {
                            font-size: 16px;
                            margin-bottom: 2px;
                        }
                    }
                    .secondary-label {
                        font: {
                            size: 18px;
                            weight: normal
                        }
                        @media ($mobile) {
                            font-size: 12px;
                        }
                    }
                }
            }
            .extra-services {
                margin-bottom: 30px;
                .extra-services-boxes {
                    display: flex;
                    flex-direction: row;
                    @media ($mobile) {
                        flex-wrap: wrap;
                    }
                    .service-box {
                        margin-bottom: 20px;
                        &:not(:last-child) {
                            margin-left: 75px;
                        }
                        @media ($mobile) {
                            flex: 0 0 25%;
                            max-width: 25%;
                            margin-left: 0 !important;
                        }
                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                            @media ($mobile) {
                                width: 24px;
                                height: 24px;
                            }
                        }
                        p {
                            margin: 0;
                            font: {
                                size: 18px;
                                weight: normal;
                            }
                            @media ($mobile) {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
            .small-description {
                margin-bottom: 47px;
                p {
                    margin: 0;
                    font-size: 17px;
                    @media ($mobile) {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    // Left Side [HOTEL]
    .left-side {
        .arrive-and-leave-time {
            border: 1px solid #BFC1C3;
            padding: 30px 80px;
            border-radius: 11px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 26px;
            @media ($mobile) {
                padding: 20px 16px;
                flex-wrap: wrap;
            }
            > div {
                &:first-child,
                &:nth-child(2) {
                    flex: 0 0 40%;
                    max-width: 40%;
                    padding-left: 48.5px;
                    @media ($mobile) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        padding-left: 0;
                    }
                }
                &:nth-child(2) {
                    @media ($mobile) {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    flex: 0 0 20%;
                    max-width: 20%;
                    @media ($mobile) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                &.arrive-time {
                    position: relative;
                    &:after {
                        content: "";
                        height: 52px;
                        width: 1px;
                        background-color: #BFC1C3;
                        display: inline-flex;
                        position: absolute;
                        left: 30px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                h5 {
                    font: {
                        size: 21px;
                        weight: normal
                    }
                    margin-bottom: 10px;
                    @media ($mobile) {
                        font-size: 16px;
                    }
                }   
                p {
                    margin-bottom: 0;
                    font: {
                        size: 18px;
                        weight: 300
                    }
                    @media ($mobile) {
                        font-size: 12px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
        .select-rooms {
            > h3 {
                font: {
                    size: 23px;
                    weight: normal
                }
                margin-bottom: 35px;
            }
            .select-room-box {
                padding: 25px;
                border: 1px solid #BFC1C3;
                border-radius: 15px;
                margin-bottom: 22px;
                @media ($mobile) {
                    padding: 16px;
                }
                .room-img {
                    @media ($mobile) {
                        margin-bottom: 15px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                        @media ($mobile) {
                            height: 165px;
                        }
                    }
                }
                .room-content {
                    > h3 {
                        font: {
                            size: 20px;
                            weight: normal
                        }
                        margin-bottom: 20px;
                    }
                    .room-detailes {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 15px 20px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid #BFC1C3;
                        .rooms-and-nights {
                            font: {
                                size: 15px;
                                weight: 300
                            }
                        }
                        .price-and-currency {
                            .price {
                                font: {
                                    size: 23px;
                                    weight: normal
                                }
                            }
                            .currency {
                                font: {
                                    size: 15px;
                                    weight: normal
                                }
                            }
                        }
                    }
                    .privacy-and-booking {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .cancel-privacy {
                            h5 {
                                font: {
                                    size: 20px;
                                    weight: normal
                                }
                            }
                            p {
                                margin: 0;
                                font: {
                                    size: 14px;
                                    weight: normal
                                }
                            }
                        }
                        .booking-now {
                            a {
                                background-color: $main-light-color;
                                font: {
                                    size: 20px;
                                    weight: 300
                                }
                            }
                        }
                    }
                }
            }
        }
        .hotel-info {
            h4 {
                font: {
                    size: 23px;
                    weight: normal
                }
                margin-bottom: 22px;
                margin-top: 40px;
                @media ($mobile) {
                    margin-bottom: 15px;
                }
            }
            p {
                font: {
                    size: 17px;
                    weight: normal
                }
                @media ($mobile) {
                    font-size: 15px;
                }
            }
        }
    }
}