.detailed-page-shared {
    // Right Side
    .right-side {
        .comunication-info {
            border-radius: 15px;
            padding: 22px;
            margin-bottom: 25px;
            > h3 {
                font: {
                    size: 21px;
                    weight: normal;
                }
                margin-bottom: 32px;
            }
            .building-owner {
                display: flex;
                align-items: center;
                margin-bottom: 31px;
                .owner-img {
                    background-color: $white-color;
                    border-radius: 10px;
                    width: 53px;
                    height: 53px;
                    overflow: hidden;
                    margin-left: 10px;
                    img {
                        border-radius: 10px;
                        width: 53px;
                        height: 53px;
                    }
                }
                .owner-info {
                    h4 {
                        a {
                            font: {
                                size: 15px;
                                weight: normal;
                            }
                            color: $black-color;
                        }
                        margin-bottom: 0;
                    }
                    span {
                        font: {
                            size: 14px;
                            weight: 300;
                        }
                        color: $gray-color-6;
                    }
                }
            }
            .actions-for-building {
                .sale-building {
                    a {
                        width: 100%;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-radius: 40px;
                        margin-bottom: 30px;
                        background-image: linear-gradient(to right, #25A84C, #72BF44);
                        font: {
                            size: 19px;
                            weight: 300;
                        }
                    }
                }
                .contact-with-owner {
                    display: flex;
                    align-items: center;
                    a {
                        width: 136px;
                        &.conversation {
                            background-color: $blue-color;
                        }
                        &.call {
                            margin-right: auto;
                            display: inline-flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
        .share-building {
            border-radius: 15px;
            padding: 32px;
            margin-bottom: 25px;
            > h4 {
                font: {
                    size: 21px;
                    weight: normal;
                }
                margin-bottom: 34px;
            }
            .social-links {
                a {
                    &:not(:last-child) {
                        margin-left: 19px;
                    }
                    img {
                        width: 32px;
                        height: 32px;
                        object-fit: cover;
                    }
                }
            }
        }
        .report-link {
            border-radius: 15px;
            margin-bottom: 25px;
            background-color: $warning-color;
            a {
                width: 100%;
                height: 100%;
                padding: 27px;
                display: inline-block;
                color: $black-color;
                img {   
                    width: 34px;
                    height: 34px;
                    margin-left: 7px;
                }
                span {
                    font: {
                        size: 21px;
                        weight: normal;
                    }
                }
            }
        }
        .booking-information {
            padding: 32px 22px;
            border-radius: 15px;
            margin-bottom: 25px;
            > h4 {
                font: {
                    size: 21px;
                    weight: normal;
                }
                margin-bottom: 21px;
            }
            .arrival-and-leave-time-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                .cal-icon {
                    margin-left: 13px;
                    img {
                        width: 31.5px;
                        height: 31.5px;
                        object-fit: cover;
                    }
                }
                .time-info {
                    margin-bottom: 15px;
                    h5 {
                        font: {
                            size: 21px;
                            weight: normal;
                        }
                        margin-bottom: 10px;
                    }
                    span {
                        font: {
                            size: 18px;
                            weight: normal;
                        }
                    }
                }
            }
            .booking-actions {
                margin-top: 17px;
                display: flex;
                a {
                    display: inline-flex;
                    justify-content: center;
                    font: {
                        size: 20px;
                        weight: 300;
                    }
                    &.verified-booking {
                        width: 175px;
                    }
                    &.edit-booking {
                        margin-right: auto;
                        width: 99px;
                        background-color: $main-light-color;
                    }
                }
            }
        }
    }
}