.top-section-login-info {
    .login-now {
        border-radius: 13px;
        padding: 27px 56px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        @media ($mobile) {
            border-radius: 10px;
            padding: 16px;
            display: block;
        }
        p {
            font: {
                size: 20px;
                weight: normal
            }
            @media ($mobile) {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }
        }
    }
    .booking-information {
        border-radius: 15px;
        padding: 28px 23px;
        position: relative;
        overflow: hidden;
        @media ($mobile) {
            border-radius: 10px;
            padding: 16px;
        }
        &:after,
        &:before {
            content: "";
            display: block;
            position: absolute;
            border-radius: 50%;
        }
        &:after {
            width: 50px;
            height: 50px;
            background-color: #808080;
            left: 42px;
            top: -14px;
        }
        &:before {
            width: 34px;
            height: 34px;
            background-color: #D9D9D9;
            left: 50px;
            top: -3px;
            z-index: 9;
        }
        > h4 {
            font: {
                size: 20px;
                weight: normal;
            }
            margin-bottom: 24px;
            @media ($mobile) {
                margin-bottom: 10px;
            }
        }
        > .booking-img {
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 162px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
        > .booking-detailes {
            h3 {
                font: {
                    size: 20px;
                    weight: normal;
                }
                margin-bottom: 11px;
                @media ($mobile) {
                    font-size: 15px;
                }
            }
            .booking-date {
                span {
                    font: {
                        size: 17px;
                        weight: 300;
                    }
                }
                padding-bottom: 15px;
                border-bottom: 1px solid #BFC1C3;
                margin-bottom: 15px;
                @media ($mobile) {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
        }
        .numbers-of-booking {
            font: {
                size: 17px;
                weight: 300;
            }
            margin-bottom: 15px;
            @media ($mobile) {
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
        .total-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .total-label {
                font: {
                    size: 20px;
                    weight: normal;
                }
            }
            .price-and-currency {
                .price {
                    font: {
                        size: 22px;
                        weight: normal;
                    }
                    &.offer {
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            width: 90%;
                            height: 1px;
                            background-color: #000000;
                            top: 50%;
                            transform: translateY(-50%) rotate(-8deg);
                        }
                    }
                }
                .currency {
                    color: $gray-color-6;
                    font: {
                        size: 18px;
                        weight: 300;
                    }
                }   
            }
            &.total-after-sale {
                .total-label {
                    font: {
                        size: 12px;
                        weight: 300;
                    }
                }
            }
        }
        .sale-code {
            margin-bottom: 16px;
            input {
                background-color: #F7F6F6;
                border: none;
                border-radius: 11px;
                padding: 10px 15px;
                width: 60%;
                &:focus,
                &:active {
                    outline: 0;
                }
                @media ($mobile) {
                    border-radius: 10px;
                    padding: 5px;
                    width: 65%;
                    font-size: 13px;
                }
            }
            button.main-btn {
                background-color: $main-light-color;
                border: 0;
                margin-right: 23px;
            }
        }
    }
    .right-hotel-card {
        padding: 30px 20px;
        border-radius: 15px;
        @media ($mobile) {
            padding: 16px;
            margin-bottom: 35px;
        }
        .card-img {
            img {
                width: 100%;
                height: 218px;
                border-radius: 15px;
                object-fit: cover;
                @media ($mobile) {
                    height: 165px;
                    margin-bottom: 15px;
                }
            }
        }
        .all-detailes {
            > h3 {
                margin-bottom: 14px;
                span {
                    font: {
                        size: 33px;
                        weight: normal;
                    }
                    @media ($mobile) {
                        font-size: 24px;
                    }
                }
                .rate {
                    font: {
                        size: 22px;
                        weight: 300
                    };
                    @media ($mobile) {
                        font-size: 18px;
                    }
                }
            }
            .hotel-address,
            .bed-type,
            .rooms-and-nights {
                font: {
                    size: 23px;
                    weight: normal;
                }
                color: $gray-color-2;
                margin-bottom: 24px;
                @media ($mobile) {
                    font-size: 15px;
                    margin-bottom: 6px;
                }
            }
            .hotel-address {
                img {

                }
                span {
                    font: {
                        size: 16px;
                        weight: 300;
                    }
                }
            }
            .bed-type,
            .rooms-and-nights {
                margin-bottom: 6px;
            }
            .rooms-and-nights {
                color: $black-color;
                @media ($mobile) {
                    margin-top: 20px;
                }
            }
            .card-date {
                color: $gray-color-8;
                font: {
                    size: 17px;
                    weight: normal;
                }
                @media ($mobile) {
                    font-size: 15px;
                }
            }
            .flat-services {
                display: flex;
                align-items: center;
                @media ($mobile) {
                    flex-wrap: wrap;
                    justify-content: center;
                }
                div {
                    &:not(:last-child) {
                        margin-left: 15px;
                        @media ($mobile) {
                            margin: 0;
                        }
                    }
                    span {
                        font: {
                            size: 19px;
                            weight: normal;
                        }
                        margin-left: 3px;
                    }
                    img {
                        width: 31px;
                        height: 31px;
                        object-fit: cover;
                    }
                }
                > div {
                    @media ($mobile) {
                        flex: 0 0 25%;
                        max-width: 25%;
                        margin-bottom: 20px !important;
                    }
                }
            }
        }
    }
}

.guest-info {
    border-radius: 15px;
    margin-bottom: 45px;
    padding: 25px 30px;
    @media ($mobile) {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .gender {
        > h4 {
            font: {
                size: 20px;
                weight: normal
            }
            margin-bottom: 37px;
            @media ($mobile) {
                margin-bottom: 30px;
            }
        }
        .form-group {
            @media ($mobile) {
                display: inline-block;
                &:first-of-type {
                    margin-left: 15px;
                }
            }
        }
        label {
            border: 1px solid $gray-color-8;
            border-radius: 20px;
            width: 150px;
            height: 111px;
            overflow: hidden;
            cursor: pointer;
            @extend .trans-effect;
            @media ($mobile) {
                width: 145px !important;
                height: 90px !important;
            }
            &:after {
                content: "";
                background-size: contain;
                height: 100%;
                display: block;
            }
            &[for="male"] {
                &:after {
                    background: url('../images/Icons/male.png') no-repeat center center;
                }
            }
            &[for="female"] {
                &:after {
                    background: url('../images/Icons/female.png') no-repeat center center;
                }
            }
        }
        input:checked {
            + label {
                box-shadow: none;
                background-color: #BFC1C3;
            }
        }
    }
}
.login-or-register {
    padding-right: 30px;
    @media ($mobile) {
        padding-right: 0;
    }
    > h5 { 
        font: {
            size: 16px;
            weight: normal
        }
        margin-bottom: 37px;
    }
    .main-btn {
        width: 214px;
        margin-right: auto;
        display: flex;
        justify-content: center;
        border: navajowhite;
        cursor: pointer;
        background-color: $main-light-color;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 35px;
        @media ($mobile) {
            margin-top: 30px;
            width: 135px;
        }
        &:focus,
        &:active {
            outline: 0;
        }
    }
}
.buttom-section-payment-info {
    .payment-way {
        margin-top: 46px;
        .payment-form {
            form {
                input {
                    width: 100%;
                    &.expire-date {
                        width: 190px;
                    }
                    &.ccv {
                        width: 116px;
                    }
                    &.expire-date,
                    &.ccv {
                        @media ($mobile) {
                            width: 100%;
                        }
                    }
                }
                .main-btn {
                    width: 255px;
                    border: none;
                    outline: 0;
                    cursor: pointer;
                    margin-right: auto;
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                    @media ($mobile) {
                        width: 100%;
                        margin: 15px 0 -25px ;
                    }
                }
                .payment-info {
                    margin-top: 40px;
                    @media ($mobile) {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    p {
                        font: {
                            size: 14px;
                            weight: normal;
                        }
                    }
                }
            }
        }
        .nav.nav-tabs {
            border: none;
            align-items: center;
            margin-bottom: 55px;
            @media ($mobile) {
                padding-right: 0 !important;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            > li {
                &:first-child {
                    @media ($mobile) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
            .nav-item {
                border: 1px solid #BFC1C3;
                border-radius: 10px;
                width: 246px;
                @media ($mobile) {
                    width: 50%;
                    flex: 0 0 calc(50% - 4px);
                    max-width: calc(50% - 4px);
                }
                &:not(:last-child) {
                    margin-left: 30px;
                    @media ($mobile) {
                        margin: 0;
                    }
                }
                &.visa-tab {
                    display: flex;
                    margin-right: auto;
                    @media ($mobile) {
                        margin-left: 8px;
                    }
                    a {
                        img {
                            filter: invert(1);
                        }
                        &.active {
                            img {
                                filter: invert(0);
                            }
                        }
                    }
                }
                &.cach {
                    a {
                        &.active {
                            img {
                                filter: invert(1);
                            }
                        }
                    }
                }
                a {
                    width: 100%;
                    padding: 13px 20px;
                    border-radius: 10px;
                    font: {
                        size: 16px;
                        weight: 300
                    };
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $black-color;
                    @media ($mobile) {
                        padding: 7px 14px;
                    }
                    &.active {
                        background-color: #263238 !important;
                        color: $white-color;
                    }
                }
            }
            .nav-link {
                border: none;
            }
            h4 {
                font: {
                    size: 20px;
                    weight: normal
                }
                margin-bottom: 0;
                @media ($mobile) {
                    margin-bottom: 20px;
                }
            }
            .visa-tab {
                margin-right: auto;
                display: flex;
            }
        }
        .visa-card-simulator {
            width: 322px;
            border-radius: 15px;
            margin: auto;
            padding: 23px 20px;
            margin-bottom: 40px;
            @media ($mobile) {
                padding: 16px;
                width: 100%;
            }
            .logos {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
            }
            .visa-num {
                font: {
                    size: 16px;
                    weight: normal
                }
                margin-bottom: 17px;
            }
            .name-and-ex-date {
                display: flex;
                justify-content: space-between;
                > div {
                    display: flex;
                    flex-direction: column;
                    span {
                        &:first-child {
                            font: {
                                size: 11px;
                                weight: normal
                            }
                            color: #777777;
                            margin-bottom: 3px;
                        }
                        &:last-child {
                            font: {
                                size: 16px;
                                weight: normal
                            }
                        }
                    }
                }
            }
        }
    }
}
.guest-info-section {
    margin-top: 38px;
    .guest-info {
        padding-left: 92px;
        padding-right: 92px;
        .gender {
            label {
                width: 245px;
                height: 112px;
            }
        }
    }
}


.forget-pass-link {
    margin: 30px 0;
    a {
        text-decoration: underline !important;
        text-underline-position: under;
    }
}

.create-a-new-acc-link {
    p {

    }
    a {
        color: $black-color;
        font: {
            size: 20px;
            weight: bold
        };
        text-decoration: underline !important;
        text-underline-position: under;
    }
}

.login-with-social-media-accounts {
    margin-bottom: 40px;
    [class*="col"] {
        display: flex;
        justify-content: center;
    }
    a {
        width: 80%;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: $white-color;
        &.google-login {
            background-color: #db4437;
        }
        &.facebook-login {
            background-color: #1877f2;
        }
        &:hover {
            box-shadow: none;
        }
        i {
            font-size: 30px;
            font-weight: bold;
            margin-right: 10px;
        }
        span {
            font-size: 18px;
        }
    }
}


.register-section {
    width: 900px !important;
    @media ($mobile) {
        width: auto !important;
    }
}

.requirements-agreement {
    margin: 40px 0;
    label {
        font-size: 18px;
        text-decoration: underline;
        text-underline-position: under;
        @media ($mobile) {
            font-size: 15px;
        }
    }
}

.verify-mobile-num-text,
.remember-pass-text {
    width: 275px;
    margin: auto;
    margin-bottom: 40px;
    p {
        font: {
            size: 20px;
            weight: 400
        }
        @media ($mobile) {
            font-size: 18px;
        }
        &:last-child {
            font-size: 18px;
            @media ($mobile) {
                font-size: 15px;
            }
            a {
                color: $black-color;
                text-decoration: underline !important;
                text-underline-position: under;
                margin-right: 10px;
            }
        }
    }
}

.small-input {
    text-align: center;
    margin-bottom: 40px;
    display: inline-block;
    color: $white-color !important;
    font: {
        size: 20px;
        weight: bold
    }
    @media ($mobile) {
        text-align: center;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.resend-code {
    @media ($mobile) {
        font-size: 14px;
    }
    a {
        text-decoration: underline !important;
        text-underline-position: under;
        color: $black-color;
    }
}


@media (max-width: 768px) {
    .create-a-new-acc-link p,
    .create-a-new-acc-link a,
    .forget-pass-link a {
        font-size: 15px;
    }
    .create-a-new-acc-link {
        text-align: right;
        p {
            margin-bottom: 8px;
        }
    }
}
