.payment-way {
    margin-top: 140px;
    .payment-form {
        border-radius: 15px;
        padding: 47px 96px;
        @media ($mobile) {
            padding: 30px 16px;
        }
        .budget {
            width: 322px;
            padding: 23px 23px 45px;
            border-radius: 15px;
            margin: auto;
            color: $white-color;
            background-image: linear-gradient(#72BF44, #25A84C);
            margin-bottom: 53px;
            @media ($mobile) {
                padding-bottom: 23px;
            }
            h5 {
                font: {
                    size: 22px;
                    weight: normal
                }
                margin-bottom: 22px;
                @media ($mobile) {
                    margin-bottom: 15px;
                    font-size: 19px;
                }
            }
            .budget-mony {
                .price {
                    font: {
                        size: 35px;
                        weight: normal
                    }
                    @media ($mobile) {
                        font-size: 28px;
                    }
                }
                .currency {
                    font: {
                        size: 20px;
                        weight: normal
                    }
                }
            }
        }
        form {
            .form-group {
                margin-bottom: 25px;
            }
            input {
                width: 242px;
                &.expire-date {
                    width: 190px;
                }
                &.ccv {
                    width: 116px;
                }
                &.main-btn {
                    cursor: pointer;
                    outline: 0;
                    border: none;
                    background-color: $main-light-color;
                    margin-top: 15px;
                }
                @media ($mobile) {
                    width: 100% !important;
                }
            }
            .save-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 50px;
                margin-top: 15px;
                @media ($mobile) {
                    padding: 0 30px;
                    margin-bottom: 0;
                }
                span {
                    font: {
                        size: 20px;
                        weight: normal
                    }
                    @media ($mobile) {
                        font-size: 18px;
                        width: 250px;
                    }
                }
            }
        }
    }
}