.register-account {
    padding-top: 120px;
    .register-wrapper {
        padding: 75px 95px;
        border-radius: 15px;
        background-color: rgba($main-color, 0.20);
        @media ($mobile) {
            padding: 30px;
        }
        h3 {
            color: $main-color;
            font: {
                size: 35px;
                weight: normal;
            }
            line-height: 1.5;
            @media ($mobile) {
                font-size: 20px;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
    .row {
        > div {
            display: flex;
            align-items: center;
        }
    }
    .register-link {
        width: 100%;
        a {
            width: 245px;
            font: {
                size: 20px;
                weight: normal
            };
            @media ($mobile) {
                font-size: 18px;
            }
        }
    }
}