.services {
    padding: 120px 0 95px;
    @media ($mobile) {
        padding: 95px 0 95px;
    }
    .main-section-info {
        @media ($mobile) {
            margin-bottom: 30px !important;
        }
    }
    .section-service {
        .img-service {
            margin-bottom: 45px;
            height: 215px;
            overflow: hidden;
            @media ($mobile) {
                height: auto;
                margin-top: 40px;
            }
            img {
                @media ($mobile) {
                    width: 200px;
                }
            }
        }
        .service-title {
            font: {
                size: 24px;
                weight: 400;
            }
            margin-bottom: 23px;
            @media ($mobile) {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }
        .service-description {
            font: {
                size: 16px;
                weight: 400;
            }
            @media ($mobile) {
                font-size: 12px;
            }
        }
    }
}